/*
універсальний селектор
селектор елементу
селектор id
селектор класу
селектор атрибуту
селектор нащадка
дорічний селектор 
селектор сусіда
*/

/*універсальний селектор*/
*{
    margin: 0;
}
/*селектор елементу (тегу)*/
h1{color: aqua
    ;}
    p {color: rgb(209, 169, 169)
        ;}
a {direction: none
    ;}
ul {list-style: none
    ;}
/*селектор id*/
#description {color: blueviolet;}

#secondary-description {color: aqua;
}
